.burgerIngredients {
    width: 600px;
}

.tabs {
    display: flex;
    list-style-type: none;

}
.ingredientsLists {
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
